.navbar {
    background-color: lightblue;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 2;
}

.spaceFill {
    flex: 1 1 auto;
}

.navButton {
    background: lightblue;
    border-top: none;
    border-bottom: none;
    height: 100%;
}

#m1btn {
    border-left: none;
    border-right: none;
}

#m2btn {
    border-right: none;
}

a {
    color: black;
    text-decoration: none;
}