button {
    background-color: rgb(224, 184, 213);
}

.mat-dialog-actions {
    float: right;
}

.mat-dialog-title {
    background-color: lightblue;
}

input {
    background-color: whitesmoke;
    width: 2em;
}