<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
    [fixedInViewport]="options.value.fixed" 
    [fixedTopGap]="options.value.top"
    [fixedBottomGap]="options.value.bottom">
    <h2 id="navTitle">Add Donations</h2>
    <form id="sideNavForm" [formGroup]="addForm" >
        <mat-form-field>
          <mat-select placeholder="Donation Options" [(ngModel)]="selectedValue" name="donationOptions">
            <mat-option *ngFor="let donationOption of donationOptions" [value]="donationOption.value" >
              {{donationOption.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      
      </form>
      <form id="sideNavAmount" [formGroup]="amountForm">
          <mat-form-field class="donation-amount">
            <input matInput placeholder="Donation Amount"  value="" formControlName"">
          </mat-form-field>
        </form>
      <button mat-raised-button class="submit" ng-submit="addDonation" id="listButton">Add to List</button>
  </mat-sidenav>
  <mat-sidenav-content>
      <h2 id="tableTitle">My Donations</h2>
      <button mat-raised-button class="submit" [routerLink]="['/profile']" id="profileButton">Donor Profile</button>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="donationTable" > 
  
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let donation"> {{ donation.amount }}</td>
        </ng-container>
      
        <ng-container matColumnDef="items">
          <th mat-header-cell *matHeaderCellDef>Items</th>
          <td mat-cell *matCellDef="let donation"> {{ donation.items }}</td>
        </ng-container>
          
      <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef></th>
          <mat-checkbox></mat-checkbox>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null">
            </mat-checkbox>
          </td>
        </ng-container>  
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <button mat-raised-button (click)="openDialog()" id="tableUpdateButton">Edit Item</button>
        <button mat-raised-button class="submit" id="tableDeleteButton">Delete Item</button>
  </mat-sidenav-content>
</mat-sidenav-container>
      