<!-- <div class="container">
<mat-sidenav-container class="example-container" layout="row" layout-align="center" >
<mat-sidenav mode="side" opened id="side-nav"></mat-sidenav>
<mat-sidenav-content id="side-nav-content"> 
  Add Donation Items
</mat-sidenav-content>
</mat-sidenav-container>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="donationTable" >

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let donation"> {{ donation.amount }}</td>
    </ng-container>
  
    <ng-container matColumnDef="items">
      <th mat-header-cell *matHeaderCellDef>Items</th>
      <td mat-cell *matCellDef="let donation"> {{ donation.items }}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>-->
<!-- <h2 id="header">My Donations</h2>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="donationTable" > 

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let donation"> {{ donation.amount }}</td>
      </ng-container>
    
      <ng-container matColumnDef="items">
        <th mat-header-cell *matHeaderCellDef>Items</th>
        <td mat-cell *matCellDef="let donation"> {{ donation.items }}</td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table> 
    -->
    <app-donor-nav></app-donor-nav>