.cardForSignup{
    height: 50%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: #lightblue;
    border-radius: 50px;
    text-align: center;
}

.cardForSignup a {
    text-decoration: none;
    color: black;
}

.cardForSignup a:hover {
    text-decoration: underline;
}

button {
    background-color: #rgb(224, 184, 213);
    color: black;
}

button:hover{
    color: black;
    background-color: white;
    border: 1px solid #rgb(224, 184, 213);
}