<div class="container">
    <mat-card class="cardForProfile">
        <form [formGroup]="registerForm">
            <h1>Donor Profile</h1>
        <div class="registerForm">
            <mat-form-field>
            <input matInput placeholder="First Name"  type="text" formControlName="donor_fname" class="registerForm" />
          </mat-form-field>
        </div>
        <div class="registerForm">
            <mat-form-field>
            <input matInput placeholder="Last Name" type="text" formControlName="donor_lname" class="registerForm" />
          </mat-form-field>
        </div>
        <div class="registerForm"> 
        <mat-form-field class="donor-signup-component">
          <input matInput placeholder="Username" type="text" formControlName="donor_username" class="registerForm"  >
        </mat-form-field>
        </div>
  
        <div class="registerForm">
          <mat-form-field class="donor-signup-component">
            <input matInput placeholder="Email" formControlName="donor_email" class="registerForm"  />
          </mat-form-field>
        </div>
      
        <div class="registerForm">
          <mat-form-field class="donor-signup-component">
            <input matInput placeholder="Password" formControlName="donor_password" class="registerForm" />
          </mat-form-field>
        </div>  
        <div class="registerForm">
            <mat-form-field>
            <input matInput placeholder="Address"  type="text" formControlName="donor_address" class="registerForm" />
          </mat-form-field>
          </div>
          <div class="registerForm">
              <mat-form-field>
              <input matInput placeholder="City"  type="text" formControlName="donor_city" class="registerForm" />
            </mat-form-field>
            </div>
            <div class="registerForm">
                <mat-form-field>
                <input matInput placeholder="State"  type="text" formControlName="donor_state" class="registerForm" />
              </mat-form-field>
              </div>
      
              <div class="registerForm">
                  <mat-form-field>
                  <input matInput placeholder="ZipCode"  type="text" formControlName="donor_zipcode" class="registerForm" />
                </mat-form-field>
                </div>
                <div class="registerForm">
                    <mat-form-field>
                    <input matInput placeholder="Phone Number"  type="text" formControlName="donor_phonenumber" class="registerForm" />
                  </mat-form-field> 
                  </div>
      </form>
      
      <div class="matButton-signup-card-signup">
        <button mat-raised-button [disabled]="loading" class="submit" (click)=onSubmit()>Update</button>
      </div>
    </mat-card>
  </div>

 