.cardForProfile{
    height: 50%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8em;
    margin-top: 5%;
    background-color: #7cd9d9;
    border-radius: 50px;
    text-align: center;
}

button{
    float: right;
    margin: 1%;
    background-color: #ff8cff;
}

button:hover{
    color: black;
    background-color: white;
    border: 1px solid #ff8cff;

}

.matButton-profile-delete {
    float: left;
}