<div class="container">
  <mat-card class="cardForSignup">
      <h2>Donor Signup</h2>
      <form [formGroup]="registerForm">
      <hr color="#ff8cff" />
      <div class="registerForm">
          <mat-form-field>
          <input matInput placeholder="First Name"  type="text" formControlName="donor_fname" class="registerForm" />
        </mat-form-field>
      </div>
      <!-- last name -->
      <div class="registerForm">
          <mat-form-field>
          <input matInput placeholder="Last Name" type="text" formControlName="donor_lname" class="registerForm" />
        </mat-form-field>
      </div>
      <!-- address -->
      <div class="registerForm">
      <mat-form-field class="donor-signup-component">
        <input matInput placeholder="Username" type="text" formControlName="donor_username" class="registerForm"  >
      </mat-form-field>
      </div>

      <div class="registerForm">
        <mat-form-field class="donor-signup-component">
          <input matInput placeholder="Email" type="email" formControlName="donor_email" class="registerForm"  />
        </mat-form-field>
      </div>
    
      <div class="registerForm">
        <mat-form-field class="donor-signup-component">
          <input matInput placeholder="Password" type="password" formControlName="donor_password" class="registerForm" />
        </mat-form-field>
      </div>   

        <input matInput placeholder="Address" type="text" formControlName="donor_address" class="registerForm">
        <!-- <mat-error *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <mat-error *ngIf="f.username.errors.required">Username is required</mat-error>
        </mat-error> -->
      </mat-form-field>
</div>
<!-- city -->
<div class="registerForm">
<mat-form-field class="donor-signup-component">
  <input matInput placeholder="City" type="text" formControlName="donor_city" class="registerForm">
  <!-- <mat-error *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <mat-error *ngIf="f.username.errors.required">Username is required</mat-error>
        </mat-error> -->
</mat-form-field>
</div>
<!-- state -->
<div class="registerForm">
<mat-form-field class="donor-signup-component">
  <input matInput placeholder="State" type="text" formControlName="donor_state" class="registerForm">
  <!-- <mat-error *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <mat-error *ngIf="f.username.errors.required">Username is required</mat-error>
        </mat-error> -->
</mat-form-field>
</div>
<!-- zip code -->
<div class="registerForm">
<mat-form-field class="donor-signup-component">
  <input matInput placeholder="Zip Code" type="text" formControlName="donor_zipCode" class="registerForm">
  <!-- <mat-error *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <mat-error *ngIf="f.username.errors.required">Username is required</mat-error>
        </mat-error> -->
</mat-form-field>
</div>
<!-- phone numbeer -->
<div class="registerForm">
<mat-form-field class="donor-signup-component">
  <input matInput placeholder="Phone Number" type="tel" formControlName="donor_phoneNumber" class="registerForm">
  <!-- <mat-error *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <mat-error *ngIf="f.username.errors.required">Username is required</mat-error>
        </mat-error> -->
</mat-form-field>
</div>
<!-- username -->
<div class="registerForm">
  <mat-form-field class="donor-signup-component">
    <input matInput placeholder="Username" type="text" formControlName="donor_username" class="registerForm">
    <!-- <mat-error *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <mat-error *ngIf="f.username.errors.required">Username is required</mat-error>
        </mat-error> -->
  </mat-form-field>
</div>
<!-- email -->
<div class="registerForm">
  <mat-form-field class="donor-signup-component">
    <input matInput placeholder="Email" formControlName="donor_email" class="registerForm" />
    <!-- <mat-error *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <mat-error *ngIf="f.email.errors.required">Email is required</mat-error>
          </mat-error> -->
  </mat-form-field>
</div>
<!-- password -->
<div class="registerForm">
  <mat-form-field class="donor-signup-component">
    <input matInput placeholder="Password" type="password" class="registerForm" />
    <!-- <mat-error *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <mat-error *ngIf="f.password.errors.required">Password is required</mat-error>
              <mat-error *ngIf="f.password.errors.minlength">Password must be at least 6 characters</mat-error>
          </mat-error> -->
  </mat-form-field>
</div>

<!-- <div>
        <mat-form-field class="donor-signup-component">
          <input matInput placeholder="Confirm Password" formControlName="Password" required>
        </mat-form-field>
      </div>  -->
    </form>
    
    <div class="matButton-signup-card-signup">
      <button mat-raised-button [disabled]="loading" class="submit" (click)=onSubmit()>Signup</button>
    </div>
    <a routerLink="/donorlogin">Already have an account?</a>
  </mat-card>
</form>

<div class="matButton-signup-card-signup">
  <button mat-raised-button [disabled]="loading" class="submit" (click)=onSubmit() color="primary">Signup</button>
  <button mat-raised-button class="student" color="primary" routerLink="/usersignup">I'm a User</button>
</div>
<a routerLink="/donorlogin">Already have an account?</a>
</mat-card>
</div>
