<mat-sidenav-container>
  <!-- <mat-sidenav #drawer
  class="sidenav"
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'"
  [opened]="!(isHandset$ | async)"> -->
    <h2>Requested donations</h2>
    
    <div>
      <table class="sideTable" #sideTable mat-table [dataSource]="basketDataSource">
        
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef></th>
          <mat-checkbox></mat-checkbox>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null">
            </mat-checkbox>
          </td>
        </ng-container>
        
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Item</th>
          <td mat-cell *matCellDef="let basket">{{basket.name}}</td>
        </ng-container>
        
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Quantity</th>
          <td mat-cell *matCellDef="let basket">{{basket.quantity}}</td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="sideButtons">
      <button class="eButton" mat-raised-button>Edit</button>
      <button class="dButton" mat-raised-button>Del</button>
      <button class="reqButton" mat-raised-button>Send request</button>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <h2>Donated Items</h2>
    <p>Please note all items are subject to availability</p>
      
      <div class="choices">
        <mat-select class="itemField" placeholder="Item(s)">
          <mat-option *ngFor="let request of requests" [(value)]="requestedItem">{{request.viewValue}}</mat-option>
        </mat-select>
        <mat-select class="amountField" placeholder="Quantity">
          <mat-option *ngFor="let amount of amounts" [(value)]="requestedAmount">{{amount.value}}</mat-option>
        </mat-select> 
      </div>
      
      <div class="button">
        <button class="addButton" mat-raised-button (click)="testFunction()">Add items</button>
      </div>
      
  </mat-sidenav-content>
</mat-sidenav-container>