<div class="container">
  <div class="about">
    <h1>About Sunshine's Bundles of Joy</h1>
    <h3>Before Sunshine’s Bundles of Joy was established Annika Hudson started a group on Facebook called the Ladies place. She
      was motivated to start a Baby Bag Drive because of her personal experience with having a baby. The first Baby Bag Drive
      was a success and we decided to make this an annual event. I wanted to continue this awesome ideal.Sunshine’s Bundles
      of Joy was established in the year of 2016. On March 29th, 2017 the organization became a non-profit. Helping others
      and making a difference in someone’s life brings me joy.</h3>

    <h2>About Me</h2>
    <img src="../../../assets/IMG-0615.jpeg">
    <h3>I am a mother of one and being a parent was the best gift I was ever given. Seeing happiness on the parents faces when
      I am able to provide them with baby items is a blessing.</h3>
  </div>

</div>